body {
    padding-bottom: 40px;
    color: #5a5a5a;
}



#myCarousel1 {
     height: 500px;
margin-bottom: 60px; 
}


.navbar-wrapper {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}


#content {
	font-size: 40px;
}

.navbar-wrapper {
	margin-top: 20px;
}

#conthead {
	border-radius: 4px;
	z-index: 1000;
	opacity: 0.5;
}

#conthead:hover {
	border-radius: 4px;
	z-index: 1000;
	opacity: 1;
}

#myCarousel {
	background-color: #261D32;	
	color: #208C8F;
	font-size: 20px;
	margin-bottom: 60px;
}

#headImg {
	background-color: #208C8F;
	height: 80px;
}

#bodyImg {
/*	height: 500px; */
	background-color: #261D32;	
	color: #FF6508;
	font-size: 20px;
}
#foo {
	background-color: #208C8F;
}

#run {
	background-color: #48385A;
	color: #FCEBCD;	
	font-size: 2.0em;
	font-weight: bold; 	
}

.close {
	color: #000000;
	font-size: 50px;
}


.marketing h2 {
    font-weight: normal;

}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    padding-top: 120px;
    font-size: 50px;

}

#dd {
	background-image: url("http://www.toyfarm.org/gallery/themes/sobriety/images/backgrounds/progressbar.png") ; norepeat;
	color: #fff;
}

.featurette-divider {
margin: 80px 0;	
}

.navbar-form {
	margin-right: 10px;
}

.jumbotron {
	background-image: url("http://forumarchitects.in/images/rev-slide-1-bg.jpg")
}

	
